Respec - Various normative references in informative sections

Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC8288]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC3987]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC3986]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7231]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7252]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!MQTT]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC4395]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC6838]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7159]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7049]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!EVENTSOURCE]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC5246]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC6347]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC6071]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC6749]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7744]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!WOT-SECURITY-CONSIDERATIONS]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7230]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC7540]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!HTML5]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC6455]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!WEBRTC]] at: 1.
Normative references in informative sections are not allowed. Remove '!' from the start of the reference [[!!RFC765]] at: 1.

This is caused by undocumented behavior of ReSpec...
If there is no section which ID is `conformance`, ReSpec makes all part of document informative (see [this code](https://github.com/w3c/respec/blob/develop/src/core/inlines.js#L27)).  Because of this, ReSpec regards all references as in informative section.

To fix this, just place conformance section in appropriate place (between [Introduction](https://w3c.github.io/wot-architecture/#introduction) and [Terminology](https://w3c.github.io/wot-architecture/#terminology)?), like below.  
```html
<section id="conformance"></section>
```
May I make a PR for this?

@k-toumura Many thanks for digging down into the reason. Please go ahead and create a PR.