[Index] Section structure, assertions, and issues

To make it easier to discuss which sections should be normative and how the assertions should be written, I've compiled a list of assertions and related issues for each section.  (based on editors draft as of ~~Dec. 1 Dec. 8 Dec. 16 Dec. 23 Jan. 13 Jan. 27~~Mar. 3)

---
- 1 [Introduction](https://w3c.github.io/wot-architecture/#introduction) (non-normative)
- 2 [Conformance](https://w3c.github.io/wot-architecture/#conformance) (normative)
- 3 [Terminology](https://w3c.github.io/wot-architecture/#terminology) (non-normative)
- 4 [Device Categories](https://w3c.github.io/wot-architecture/#device-categoriesdevices) (non-normative)
- 5 [Application Domains (Verticals)](https://w3c.github.io/wot-architecture/#sec-application-domains) (non-normative)
- 6 [System Topologies (Horizontals)](https://w3c.github.io/wot-architecture/#sec-common-deployment-patterns) (non-normative) 
- 7 [Abstract WoT System Architecture](https://w3c.github.io/wot-architecture/#sec-wot-architecture) (normative)
  - 7.1 System Components
    - 7.1.1 Things
    - 7.1.2 Metadada
      - 7.1.2.1 Thing Descriptions
        - `arch-td-metadata`: "In W3C WoT, the description metadata for a Thing instance MUST be available as a WoT Thing Description (TD)."
        - ~~`arch-td-consumers-process`", "Consumers MUST be able to parse and process the TD representation format, which is based on JSON [[!RFC8259]]."~~
          - ~~#625, #632~~
        - `arch-other-thing-representations`: "There MAY be other representations of a Thing such as an HTML-based user interface, simply an image of the physical entity, or even non-Web representations in closed systems."
        - `arch-td-mandatory`: "To be considered a Thing, however, at least one TD representation MUST be available."
      - 7.1.2.2 Thing Models
    - 7.1.3 Links
      - `arch-td-linking`: "WoT Thing Descriptions and WoT Thing Models MAY link to other Things, WoT Thing Models, and other resources on the Web to form a Web of Things."
      - `arch-rel-types`: "Things MUST be hosted on networked system components with a software stack to realize interaction through a network-facing interface, the WoT Interface of a Thing."
    - 7.1.4 Intermediaries
      - `arch-id-correlation`: "An identifier in the WoT Thing Description MUST allow for the correlation of multiple TDs representing the same original Thing or ultimately unique physical entity."
        - #625, #635
      - ~~`arch-thing-bundling`: "Things MAY be bundled together with a Consumer to enable Thing-to-Thing interaction."~~
        - ~~#625, #634~~
      - ~~`arch-consumer-configuration`: "The configuration of the Consumer behavior MAY be exposed through the Thing."~~
        - ~~#625, #636~~
  - 7.2 Affordances
  - 7.3 Web Thing
  - 7.4 Lifecycle
  - 7.5 Interaction Model
    - `arch-affordances`: "In addition to navigation affordances (i.e., Web links), Things MAY offer three other types of Interaction Affordances defined by this specification: Properties, Actions, and Events."
    - 7.5.1 Properties
      - ~~`arch-property-readable`: "The state exposed by a Property MUST be retrievable (readable)."~~
        - ~~#412, #625, #633~~
      - ~~`arch-property-writable`: "Optionally, the state exposed by a Property MAY be updated (writeable)."~~
      - ~~`arch-property-observable`: "Things MAY choose to make Properties observable by pushing the new state after a change (cf. Observing Resources [[?RFC7641]])."~~
      - `arch-property-dataschema`: "If the data is not fully specified by the Protocol Binding used (e.g., through a media type), Properties MAY contain one data schema for the exposed state."
    - 7.5.2 Actions
      - `arch-action-functions`: "An Action MAY manipulate state that is not directly exposed (cf. Properties), manipulate multiple Properties at a time, or manipulate Properties based on internal logic (e.g., toggle)."
      - `arch-action-process`: "Invoking an Action MAY also trigger a process on the Thing that manipulates state (including physical state through actuators) over time."
      - `arch-action-dataschema`: "If the data is not fully specified by the Protocol Binding used (e.g., through a media type), Actions MAY contain data schemas for optional input parameters and output results."
    - 7.5.3 Events
      - `arch-event-trigger`: "Events MAY be triggered through conditions that are not exposed as Properties."
      - `arch-event-dataschema`: "If the data is not fully specified by the Protocol Binding used (e.g., through a media type), Events MAY contain data schemas for the event data and possible subscription control messages (e.g., to subscribe with a Webhook callback URI)."
  - 7.6 Hypermedia Controls
    - 7.6.1 Links
      - `arch-rel-types`: "Extension relation types MUST be compared as strings using a case-insensitive comparison. (If they are serialized in a different format they are to be converted to URIs)."
      - `arch-rel-type-lowercase`: "Nevertheless, all-lowercase URIs SHOULD be used for extension relation types. [[!RFC8288]]"
    - 7.6.2 Forms
      - `arch-form-iris`: "Form contexts and submission targets MUST both be Internationalized Resource Identifiers (IRIs) [[!RFC3987]]."
      - `arch-form-iris2`: "Form context and submission target MAY point to the same resource or different resources, where the submission target resource implements the operation for the context."
      - `arch-op-wellknown`: "Well-known operation types MUST follow the ABNF LOALPHA *( LOALPHA / DIGIT / ""."" / ""-"" )."
      - ~~`arch-op-wellknown-compare`: "Well-known operation types MUST be compared using a case-insensitive comparison."~~
        - ~~#625, #637~~
      - ~~`arch-op-extension`: "The set of predefined operation types MAY be augmented by Extension operation types chosen by applications."~~
        - ~~#619, #625, #638, #765~~
      - `arch-op-extension-uri`: "Extension operation types MUST be URIs [[!RFC3986]] that uniquely identify the type."
      - `arch-op-extension-comparison`: "Extension operation types MUST be compared as strings using a case-insensitive comparison."
      - `arch-op-extension-lowercase`: "Nevertheless, all-lowercase URIs SHOULD be used for extension operation types."
      - `arch-op-request-method`: "The request method MUST identify one method of the standard set of the protocol identified by the submission target URI scheme."
      - `arch-op-expected-request`: "Form fields are optional and MAY further specify the expected request message for the given operation."
      - `arch-op-form-fields-protocol`: "Form fields MAY depend on the protocol used for the submission target as specified in the URI scheme."
  - 7.7 Protocol Bindings
    - 7.7.1 Hypermedia-driven
      - `arch-hypermedia`: "Interaction Affordances MUST include one or more Protocol Bindings."
      - `arch-hypermedia-protocol-binding`: "Protocol Bindings MUST be serialized as hypermedia controls to be self-descriptive on how to activate the Interaction Affordance."
      - ~~`arch-hypermedia-origin`: "The hypermedia controls MUST originate from the authority managing the Thing that is providing the corresponding Interaction Affordance."~~
        - ~~#625, #641~~
      - `arch-hypermedia-caching`: "The hypermedia controls MAY be cached outside the Thing and used for offline processing if caching metadata is available to determine the freshness."
    - 7.7.2 URIs
      - ~~`arch-uri-scheme`: "Eligible protocols for W3C WoT MUST have an associated URI scheme [[!RFC3986]] that is registered with IANA (see [[?IANA-URI-SCHEMES]])."~~
        - ~~#625, #639~~
    - 7.7.3 Standard Set of Methods
      - ~~`arch-methods`: "Eligible protocols for W3C WoT MUST be based on a standard set of methods that are known a priori."~~
        - ~~#625, #640~~
    - 7.7.4 Media Types
      - `arch-media-type`: "All data (a.k.a. content) exchanged when activating Interaction Affordances MUST be identified by a media type [[!RFC2046]] in the Protocol Binding."
      - `arch-media-type-extra`: "Protocol Bindings MAY have additional information that specifies representation formats in more detail than the media type alone."
      - `arch-schema`: "Thus, the corresponding Interaction Affordances SHOULD declare a data schema to provide more detailed syntactic metadata for the data exchanged."
  - 7.8 WoT System Components and their Interconnectivity
    - 7.8.1 Direct Communication
    - 7.8.2 Indirect Communication
      - `arch-intermediary-td-extra-protocols`: "If necessary, a TD generated by an Intermediary MAY contain interfaces for other communication protocols."
- 8 [WoT Building Blocks](https://w3c.github.io/wot-architecture/#sec-building-blocks) (normative)
  - 8.1 WoT Thing Description
  - 8.2 Thing Model
  - 8.3 Profiles
  - 8.4 WoT Discovery
    - 8.4.1 Introduction Mechanisms
      - `arch-discovery-no-metadata-in-introduction`: "Any introduction mechanism used for WoT Discovery MUST NOT provide metadata but instead should simply result in one or more opaque URLs at which metadata may be accessed, if and only if the user can authenticate and has the appropriate authorization (access rights)."
      - `arch-discovery-no-metadata-in-introduction-urls`: "Introduction URLs MUST NOT themselves include any metadata, e.g. a human-readable device type or name."
    - 8.4.2 Exploration Mechanisms
      - `arch-discovery-metadata-after-authorization`: "Any WoT Discovery ""exploration"" implementation MUST only provide metadata and TDs after appropriate best-practice authentication and authorization."
      - `arch-discovery-should-use-standard`: "Whenever possible, the Discovery mechanisms defined in [[!WOT-DISCOVERY]] SHOULD be used to distribute TDs."
  - 8.5 WoT Binding Templates (non-normative)
  - 8.6 WoT Scripting API (non-normative)
  - 8.7 WoT Security and Privacy Guidelines (non-normative)
- 9 [Abstract Servient Architecture](https://w3c.github.io/wot-architecture/#sec-servient-implementation) (non-normative)
- 10 [Example WoT Deployments](https://w3c.github.io/wot-architecture/#sec-deployment-scenario) (non-normative)
- 11 [Security and Privacy Considerations](https://w3c.github.io/wot-architecture/#sec-security-considerations) (non-normative)

@k-toumura thank you for doing this overview. I agree with which chapter should be normative or not. Regarding the specific assertions, I think some should be removed, like `arch-property-readable: "The state exposed by a Property MUST be retrievable (readable)." `. However, I think that we should not discuss individual assertions in this issue right? I think we can even make this comment an md file that can be updated over time.

I'll update the list above as soon as index.html is updated.
By the way, I use the issue instead of a md file because it is easy to link to other issues and PRs 😉 . 

Arch call on 7.4.: Spec structure is settled, close the issue

Many assertions here are still not resolved/removed

Arch call on June 23rd: There is only one specific issue listed here, so we will close this omnibus issue and handle any potential problem in a separate issue. 
So far only #766 is known.